In [1]:
#print name by the user
a= input("enter name")
print(f"my name is {a}.")

enter name ajaybabu

my name is ajaybabu.

In [3]:
name="ajay"
print(name)

ajay

In [4]:
#print of numbers
num1=int(input())
num2=int(input())
print("number1:,num1")
print("number1:,num1")

 4
 2

number1:,num1
number1:,num1

In [6]:
#addition of two numbers
num1=int(input())
num2=int(input())
print(num1+num2)

 4
 2

6

In [10]:
#concatenate of words
word1=input()
word2=input()
concatenate=word1+" "+word2
print(concatenate)

 ajay
 babu

ajay babu

In [14]:
#swapping of numbers
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print(a)
print(b)

 42
 43

43
42

In [15]:
 # write primitive data type 
a=10
b="hello"
c=2.43
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
#swap 2no's using 3rd variable
a=int(input(" "))
b=int(input(" "))
temp=a
a=b
b=temp
print("after swapping:",a)
print("after swapping:",b)

  12
  22

after swapping: 22
after swapping: 12

In [18]:
# non  print primitive date type
x=[4,5,6]
dict_={name:"ajay"}
z={2,3,43,66,78,9}
print(type(x))
print(type(dict_))
print(type(z))

<class 'list'>
<class 'dict'>
<class 'set'>

In [19]:
#square
a=int(input())
print(a**2)

 42

1764

In [20]:
#avg of three number
a=int(input())
b=int(input())
c=int(input())
sum=a+b+c
print(sum/3)

 2
 5
 8

5.0

In [21]:
#multiple
num1=int(input())
print(num1*10)

 42

420

In [22]:
#miltiple into seconds
a=int(input())
print(a/60)

 42

0.7

In [23]:
#miltiple of float
a=float(input())
b=float(input())
print(a*b)

 7.8
 9.8

76.44

In [25]:
#large number
a=int(input())
b=int(input())
c=int(input())
print(max(a,b,c))

 4
 2
 42

42

In [26]:
a=int(input())
print(a*(a+1))

 4

20

In [29]:
a=int(input())
for i in range(2,a+1):
    if i%2==0:
        print(i)

 4

2
4

In [30]:
pan=bool(input())
adhar=bool(input())
cibil=int(input())
if (pan and adhar and cibil>750):
    print("loan approved")
else:
    print("rejrcted")

 true
 true
 900

loan approved

In [31]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a//b)

 4
 2

6
2
2

In [32]:
a=int(input())
b=int(input())
print(a>10 and b<5)
print(a==10 and b<5)
print(not(a==10))

 5
 1

False
False
True

In [33]:
a=int(input())
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

 5

positive

In [34]:
a= int(input())
if a%2==0:
    print("even")
else:
    print("odd")

 8

even

In [35]:
a=int(input())
if a%5==0 or a%11==0:
    print("divisible")
else:
     print(" not divisible")

 95

divisible

In [38]:
theory=float(input(" theory marks:"))
practical=float(input("practical marks:"))
if(theory>=35 and pratical>=15) or (theory+practical>60):
                print("passed")
else:
                 print("failed")

 theory marks: 22
practical marks: 55

passed

In [39]:
age=int(input("enter your age:"))
if(age<13):
    print("child")
elif(age>=13 and age<19)    :
    print("teenage")

else:
    print("adult")

enter your age: 23

adult

In [42]:
marks=int(input("enter your marks:"))
if(marks>=90):
    print("A")
elif(marks<90 and marks>=70):
    print("B")
elif(marks<70 and marks>=50):
    print("C")
elif(marks<50 and marks>=40):
    print("D")
else:
    print("fail")

enter your marks: 98

A

In [44]:
day=int(input("enter your number(1-7):"))
if day==1:
    print("sunday")
elif day==2:
    print("monday")    
elif day==3:
    print("tuesday") 
elif day==4:
    print("wednesday") 
elif day==5:
    print("friday") 
elif day==6:
    print("saturday") 
else:
    print("invalid number")

enter your number(1-7): 8

invalid number

In [46]:
user="ajay"
password=1234
username=input()
if username==user:
    print("correct password")
    psd=int(input())
    if psd== password:
        print("correct password")
        print("login successfully")
    else:
        print("invalid password")
        psd=int(input())
        if psd==password:
            print("correct password")
            print("login successfully")

 ajay

correct password

 1234

correct password
login successfully